@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --dark-green: #112211;
    --black-color: #000000;
    --primary-color: #8DD3BB;
    --light-green: #CDEAE1;
    --white-color: #ffffff;
    --dark-color: #1C1B1F;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.text-white {
    color: var(--white-color) !important;
}

.text-dark-green {
    color: var(--dark-green) !important;
}

.text-black {
    color: var(--black-color) !important;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-400 {
    font-weight: 400;
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-dark {
    background-color: var(--dark-green);
}

.bg-white {
    background-color: var(--white-color);
}

.bg-light-green {
    background-color: var(--light-green);
}

.btn {
    padding: 16px 16px;
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
}

.btn-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    position: relative;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}

.btn-icon > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-icon:hover,
.btn:hover {
    opacity: 0.6;
    cursor: pointer;
}
.main-conent {
    margin-top: 73px;
}
/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px 104px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
    background-color: var(--white-color);
}

header .logo-img {
    width: 110px;
    padding: 16px 0;
}

header .navbar {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    align-items: center;
    gap: 32px;
}

header .navbar .navbar-item {
    align-self: stretch;
    display: flex;
    align-items: center;
    cursor: pointer;
}

header .navbar .navbar-item .user-name,
header .navbar .navbar-item .item-text {
    font-size: 14px;
    font-weight: 600;
    color: var(--dark-green);
    display: block;
}

header .navbar .navbar-item .user-name,
header .navbar .navbar-item .item-text {
    position: relative;
}

header .navbar .user-section .user-name::after,
header .navbar-item .item-text::after {
    content: "";
    display: block;
    position: absolute;
    top: 250%;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--primary-color);
    transition: all 0.3s;
}

header .user-section:hover .user-name::after,
header .navbar-item:hover .item-text::after {
    width: 100%;
}

header .navbar-item .favourite>i {
    font-size: 14px;
    margin-right: 8px;
}

header .navbar-item .favourite {
    border-right: 3px solid var(--dark-green);
    padding-right: 12px;
}

header .navbar .user-section {
    display: flex;
    align-items: center;
    position: relative;
}

header .navbar-item .user-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
    margin-right: 10px;
}

header .navbar .user-section:hover .card-information {
    visibility: visible;
    top: 74px;
}

header .navbar .user-section .card-information {
    padding: 32px;
    position: absolute;
    top: 83px;
    left: -200px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: 329px;
    transition: all 0.3s;
    visibility: hidden;
}

header .navbar .card-information .user-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.navbar .card-information .user-profile .user-avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.navbar .card-information .user-profile .user-info .name {
    font-size: 16px;
}

.navbar .card-information .user-profile .user-info .status {
    font-size: 14px;
    margin-top: 4px;
    opacity: 0.75;
}

header .navbar .card-information .card-btns {
    border-top: 0.5px solid #ddd;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    margin-top: 24px;
}

header .navbar .card-information .card-btns .item-btn {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.navbar .card-information .card-btns .item-btn:hover {
    color: var(--primary-color) !important;
}

.navbar .card-information .card-btns .item-btn:hover>i {
    transform: translateX(3px);
}

.navbar .card-information .card-btns .item-btn .btn-name {
    display: flex;
    gap: 8px;
    align-items: center;
}

.navbar .card-information .card-btns .item-btn:not(:first-child) {
    margin-top: 20px;
}


/* footer */
footer {
    padding: 218px 104px 64px;
    position: relative;
    margin-top: 1000px;
}

footer .subsribe-seciton {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 305px;
    border-radius: 20px;
    padding: 0 24px;
    justify-content: space-between;
    width: calc(100% - 208px);
    top: 0;
    transform: translateY(-50%);
}

footer .subsribe-seciton .left-content {
    padding: 24px 0;
}

footer .subsribe-seciton .left-content .title {
    font-size: 44px;
}

footer .subsribe-seciton .left-content .sub-title {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 8px;
}

footer .subsribe-seciton .left-content .content {
    font-size: 16px;
    opacity: 0.7;
    margin-bottom: 16px;
}

footer .subsribe-seciton .subcribe-form {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

footer .subsribe-seciton .subcribe-form .input-box {
    padding: 8px 12px;
    font-size: 16px;
    color: var(--dark-color);
    width: 100%;
    border: none;
    border-radius: 4px 4px 0px 0px;
}

footer .subsribe-seciton .subcribe-form .input-box:focus {
    outline: 3px solid var(--primary-color);
}

footer .subsribe-seciton .subcribe-img {
    width: 400px;
}

footer .footer-content {
    display: flex;
    flex-direction: row;
    gap: 90px;
}

footer .footer-content .footer-logo {
    width: 100%;
}

footer .footer-content .footer-icons {
    display: flex;
    margin-top: 8px;
    gap: 16px;
    cursor: pointer;
}

footer .footer-content .footer-list .title {
    font-size: 16px;
    margin-bottom: 16px;
}

footer .footer-content .footer-list li:not(:first-child) {
    font-size: 14px;
    margin-top: 12px;
}

footer .footer-content .footer-list li a:hover {
    text-decoration: underline;
}