.wrap {
    width: 100%;
    max-width: 1232px;
    margin: 0 auto;
}

.home-title {
    width: 100%;
    height: 537px;
    background-image: url(../images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-title .title-text {
    width: 440px;
    margin: 80px 0 0 20px;
}

.title-text h1 {
    font-size: 45px;
    line-height: 57px;
}

.title-text p {
    font-size: 20px;
    line-height: 24px;
}

.main-content {
    padding: 48px 104px 120px;
    position: relative;
}

.main-content .search-bar {
    width: 100%;
    padding: 32px 24px;
    box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
    border-radius: 16px;
    gap: 16px;
    position: relative;
    top: -133px;
}

.main-content .search-bar h1 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 32px;
}

.search-bar .input-input {
    display: flex;
}

.main-content .search-bar .input-field {
    position: relative;
    width: 40%;
}

.search-bar .input-field .input-box {
    padding: 8px 16px 8px 48px;
    font-size: 16px;
    height: 56px;
    border: 2px solid #79747E;
    border-radius: 4px;
    outline: none;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.search-bar .input-field .input-icon {
    font-size: 16px;
    color: var(--black-color);
    position: absolute;
    top: 0;
    left: 24px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.search-bar .input-field .input-label {
    font-size: 16px;
    position: absolute;
    transform: translateY(-50%);
    user-select: none;
    pointer-events: none;
    top: 0;
    left: 16px;
    background-color: var(--white-color);
}

.search-bar .input-field .input-box:focus {
    border-color: var(--primary-color);
}

.main-content .search-bar .input-field input[type="date"] {
    padding-left: 16px;
    padding-right: 8px;
}

.main-content .search-bar .input-field input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 18px;
}

.main-content .search-bar .input-field:not(:first-child) {
    width: 20%;
}

.main-content .search-bar .search-btn {
    display: flex;
    justify-content: flex-end;
}

.main-content .search-bar .search-btn .btn-icon {
    margin-top: 32px;
    width: auto;
    height: 48px;
    padding: 14.5px 16px 0 37px;
    font-size: 16px;
    border-radius: 4px;
    align-items: center;
}

.search-btn .btn-icon:hover{
   background-color: rgb(141, 211, 187);
}


.search-btn .btn-icon p {
    font-size: 14px;
    line-height: 17px;

}

.search-btn .input-icon {
    font-size: 16px;
    color: var(--black-color);
    position: absolute;
    top: 0;
    left: 24px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main-content .recent-searches {}

.recent-searches .list-city {
    gap: 91.67px;
    margin-top: 32px;
    display: flex;
}

.recent-searches .list-city .city-group {
    display: flex;
    align-items: center;
    width: 245px;
    height: 90px;
    border-radius: 5px;
}

.recent-searches .list-city .city-group:hover{
    box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
}

.recent-searches .list-city.link-city-group {
    display: flex;
}

.city-group .city-name {
    margin-left: 16px;
}

.city-name h1 {
    font-size: 16px;
    line-height: 20px;
}

.city-name p {
    font-size: 12px;
    line-height: 15px;
    opacity: 0.75;
}

.main-content .famous-place {
    padding-top: 90px;
}

.famous-place .h-famous-place {
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h-famous-place .hfp-title {
    width: 850px;
}

.hfp-title h1 {
    font-size: 32px;
    line-height: 40px;
}

.hfp-title p {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
}

.h-famous-place .see-all-btn {
    border-radius: 4px;
    text-align: center;
    position: relative;
}

.h-famous-place .see-all-btn .btn-icon {
    width: 80px;
    height: 40px;
    position: relative;
    border: 1px solid #8DD3BB;
    border-radius: 4px;
    padding: 11.5px 0;
}

.see-all-btn p {
    font-size: 14px;
    line-height: 17px;
}

.famous-place .f-famous-place {
    margin-top: 32px;
}

.famous-place .f-famous-place .ffp-card {
    display: flex;
    gap: 15px;
}

.f-famous-place .card-beta {
    width: 25%;
    height: 420px;
    display: flex;
    position: relative;
}

.f-famous-place .card-beta .card-img {
    position: absolute;
    width: 100%;
    z-index: 0;
}

.ffp-card .card-text {
    margin-top: auto;
    width: 100%;
    margin-bottom: 13px;
    z-index: 1;
    padding: 0 24px;
}

.ffp-card .card-text .card-content {
    display: flex;
    justify-content: space-between;
    gap: 22px;
    align-items: center;
}

.ffp-card .card-text .card-content h1 {
    font-size: 24px;
    line-height: 29px;
}

.ffp-card .card-text .card-content p {
    font-size: 14px;
    line-height: 17px;
}

.ffp-card .card-text .booking-btn {
    background-color: #8DD3BB;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 4px;
    width: 100%;
    height: 48px;
    margin-top: 15.5px;
}

.ffp-card .card-text .booking-btn:hover{
    background-color: rgb(174, 243, 209);
}

.ffp-card .booking-btn p {
    font-size: 14px;
    line-height: 17px;
    margin-top: 15.5px;
}

.booking-btn .booking-btn-icon {
    width: auto;
    height: 48px;
    background-color: #8DD3BB;
}

.fall-into-travel {
    padding-top: 80px;
}

.fall-into-travel .h-fall-into-travel {
    gap: 40px;
    display: flex;
    align-items: center;
    position: relative;
}

.fall-into-travel .h-fall-into-travel .hfit-title {
    width: 1105px;
    height: 92px;
    margin-bottom: 20px;
}

.hfit-title h1 {
    font-size: 32px;
    line-height: 40px;
}

.hfit-title p {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
}

.h-fall-into-travel .see-all-btn {
    border-radius: 4px;
    text-align: center;
    position: relative;
}

.h-fall-into-travel .see-all-btn .btn-icon {
    width: 80px;
    height: 40px;
    position: relative;
    border: 1px solid #8DD3BB;
    border-radius: 4px;
    padding: 11.5px 0;
}

.fall-into-travel .f-fall-into-travel {
    display: flex;
}

.f-fall-into-travel .backpacking {
    width: 552px;
    height: 424px;
    background-color: #8DD3BB;
    border-radius: 20px;
    padding: 24px 24px;
    position: relative;
    margin-right: 24px;
}

.backpacking .backpacking-title {
    display: flex;
    gap: 160px;
}

.backpacking-title h1 {
    font-size: 40px;
    line-height: 51px;
}

.backpacking-title .backpacking-cost {
    background-color: #FFFFFF;
    width: 68px;
    height: 62px;
    border-radius: 8px;
    text-align: center;
    padding: 8px
}

.backpacking-cost h1 {
    font-size: 20px;
    line-height: 24px;
}

.backpacking-cost p {
    font-family: 'TradeGothic LT Extended';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.backpacking .describe {
    margin-top: 24px;
    font-size: 14px;
    line-height: 17px;
}

.backpacking .backpacking-btn {
    background: #FFFFFF;
    bottom: 21px;
    left: 24px;
    border-radius: 4px;
    text-align: center;
    position: absolute;
}

.backpacking-btn .backpacking-btn-icon {
    display: block;
    width: 504px;
    height: 48px;
    padding: 15.5px 204.5px;
    border-radius: 4px;
    border: 1px solid #8DD3BB;
    padding: 11.5px 0;
}

.backpacking-btn .btn-icon p {
    font-size: 14px;
    line-height: 17px;
}

.f-fall-into-travel .backpacking-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 656px;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    /* border: 0; */
    border-bottom: 1px solid #d2d2d2;
    outline: 0;
    font-size: 16px;
    color: #212121;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__label {

    position: absolute;
    top: 7px;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    z-index: 1000;
    background-color: white;
    left: 15px;
}

@media (min-width:740px) and (max-width:1232px) {
    .wrap {
        width: 100%;
        max-width: 768px;
        margin: 0 auto;
    }

    .home-title {
        width: 100%;
        height: 537px;
        background-image: url(../images/home.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .home-title .title-text {
        width: 440px;
        margin: 80px 0 0 20px;
    }

    .title-text h1 {
        font-size: 45px;
        line-height: 57px;
    }

    .title-text p {
        font-size: 20px;
        line-height: 24px;
    }

    .main-content {
        padding: 48px 104px 120px;
        position: relative;
    }

    .main-content .search-bar {
        width: 100%;
        padding: 32px 24px;
        box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
        border-radius: 16px;
        gap: 16px;
        position: relative;
        top: -133px;
    }

    .main-content .search-bar h1 {
        font-size: 25px;
        line-height: 24px;
        margin-bottom: 32px;
    }

    .search-bar .input-input {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .main-content .search-bar .input-field {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
    }

    .search-bar .input-field .input-box {
        padding: 8px 16px 8px 48px;
        font-size: 16px;
        height: 56px;
        border: 2px solid #79747E;
        border-radius: 4px;
        outline: none;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
    }


    .search-bar .input-field .input-icon {
        font-size: 16px;
        color: var(--black-color);
        position: absolute;
        top: 0;
        left: 24px;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .search-bar .input-field .input-label {
        font-size: 16px;
        position: absolute;
        left: 10px;
        background-color: var(--white-color);
        display: block;
        padding: 0 3px;
    }

    .main-content .search-bar .input-field:not(:first-child) {
        width: 33%;
    }

    .search-bar .input-field .input-box:focus {
        border-color: var(--primary-color);
    }

    .main-content .search-bar .input-field input[type="date"] {
        padding-left: 16px;
        padding-right: 8px;
    }

    .main-content .search-bar .input-field input[type="date"]::-webkit-calendar-picker-indicator {
        font-size: 18px;
    }

    .main-content .search-bar .search-btn {
        display: flex;
        justify-content: flex-end;
    }

    .search-btn .input-icon {
        font-size: 16px;
        color: var(--black-color);
        position: absolute;
        top: 0;
        left: 24px;
        top: 50%;
        transform: translate(-50%, -50%);
    }


    .main-content .search-bar .search-btn .btn-icon {
        margin-top: 20px;
        width: auto;
        height: 48px;
        border-radius: 4px;
        align-items: center;
        padding: 14.5px 16px 0 37px;
    }

    .search-btn .btn-icon p {
        font-size: 14px;
        line-height: 17px;
    }

    .main-content .recent-searches {}

    .recent-searches .list-city {
        gap: 91.67px;
        margin-top: 32px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .recent-searches .list-city .city-group {
        display: flex;
        align-items: center;
        width: 25%;
        height: 90px;
    }

    .city-group .city-name {
        margin-left: 16px;
    }

    .city-name h1 {
        font-size: 16px;
        line-height: 20px;
    }

    .city-name p {
        font-size: 12px;
        line-height: 15px;
        opacity: 0.75;
    }

    .main-content .famous-place {
        padding-top: 90px;
    }

    .famous-place .h-famous-place {
        gap: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .h-famous-place .hfp-title {
        width: 75%;
    }

    .hfp-title h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .hfp-title p {
        font-size: 16px;
        line-height: 20px;
    }

    .h-famous-place .see-all-btn {
        border-radius: 4px;
        text-align: center;
    }

    .h-famous-place .see-all-btn .btn-icon {
        width: 80px;
        height: 40px;
        position: relative;
        border: 1px solid #8DD3BB;
        border-radius: 4px;
        padding: 11.5px 0;
    }

    .see-all-btn p {
        font-size: 14px;
        line-height: 17px;
    }

    .famous-place .f-famous-place {
        margin-top: 32px;
    }

    .famous-place .f-famous-place .ffp-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px;
    }

    .f-famous-place .card-beta {
        width: 40%;
        max-height: 600px;
        display: flex;
        position: relative;
    }

    .f-famous-place .card-beta .card-img {
        position: absolute;
        width: 100%;
        z-index: 0;
    }
    
    .ffp-card .card-text {
        margin-top: auto;
        width: 100%;
        margin-bottom: 13px;
        z-index: 1;
        padding: 0 24px;
    }
    
    .ffp-card .card-text .card-content {
        display: flex;
        justify-content: space-between;
    }
    
    .ffp-card .card-text .card-content h1 {
        font-size: 24px;
        line-height: 29px;
    }
    
    .ffp-card .card-text .card-content p {
        font-size: 14px;
        line-height: 17px;
    }
    
    .ffp-card .card-text .booking-btn {
        background-color: #8DD3BB;
        display: flex;
        justify-content: center;
        border-radius: 4px;
        width: 100%;
        height: 48px;
        margin-top: 15.5px;
    }
    
    .ffp-card .card-text .booking-btn:hover{
        background-color: rgb(174, 243, 209);
    }
    
    .ffp-card .booking-btn p {
        font-size: 14px;
        line-height: 17px;
        margin-top: 15.5px;
    }

    .fall-into-travel {
        padding-top: 80px;
    }

    .fall-into-travel .h-fall-into-travel {
        gap: 40px;
        display: flex;
        align-items: center;
        position: relative;
    }

    .fall-into-travel .h-fall-into-travel .hfit-title {
        width: 1105px;
        height: 92px;

    }

    .hfit-title h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .hfit-title p {
        font-size: 16px;
        line-height: 20px;
    }

    .h-fall-into-travel .see-all-btn {
        border-radius: 4px;
        text-align: center;
        position: relative;
    }

    .h-fall-into-travel .see-all-btn .btn-icon {
        width: 80px;
        height: 40px;
        position: relative;
        border: 1px solid #8DD3BB;
        border-radius: 4px;
        padding: 11.5px 0;
    }

    .fall-into-travel .f-fall-into-travel {
        display: flex;
        flex-wrap: wrap;
    }

    .f-fall-into-travel .backpacking {
        width: 100%;
        height: 424px;
        background-color: #8DD3BB;
        border-radius: 20px;
        padding: 24px 24px;
        margin-top: 20px;
        position: relative;
    }

    .backpacking .backpacking-title {
        display: flex;
        gap: 160px;
    }

    .backpacking-title h1 {
        font-size: 40px;
        line-height: 51px;
    }

    .backpacking-title .backpacking-cost {
        background-color: #FFFFFF;
        width: 68px;
        height: 62px;
        border-radius: 8px;
        text-align: center;
        padding: 8px
    }

    .backpacking-cost h1 {
        font-size: 20px;
        line-height: 24px;
    }

    .backpacking-cost p {
        font-family: 'TradeGothic LT Extended';
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }

    .backpacking .describe {
        margin-top: 24px;
        font-size: 14px;
        line-height: 17px;
    }

    .backpacking .backpacking-btn {
        width: 93%;
        background: #FFFFFF;
        bottom: 21px;
        left: 24px;
        border-radius: 4px;
        text-align: center;
        position: absolute;
    }

    .backpacking-btn .backpacking-btn-icon {
        display: block;
        padding: 15.5px 204.5px;
        border-radius: 4px;
        border: 1px solid #8DD3BB;
        width: 100%;
    }

    .backpacking-btn .btn-icon p {
        font-size: 14px;
        line-height: 17px;
    }

    .f-fall-into-travel .backpacking-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .backpacking-card img {
        margin-top: 30px;
    }

    .form__group {
        position: relative;
        padding: 15px 0 0;
        margin-top: 10px;
    }

    .form__field {
        font-family: inherit;
        width: 100%;
        /* border: 0; */
        border-bottom: 1px solid #d2d2d2;
        outline: 0;
        font-size: 16px;
        color: #212121;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
    }

    .form__field::placeholder {
        color: transparent;
    }

    .form__label {
        position: absolute;
        top: 7px;
        display: block;
        transition: 0.2s;
        font-size: 12px;
        z-index: 1000;
        background-color: white;
        left: 15px;
    }
}

@media only screen and (max-width:739px) {
    .wrap {
        width: 100%;
        max-width: 738px;
        margin: 0 auto;
    }

    .home-title {
        width: 100%;
        height: 537px;
        background-image: url(../images/home.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .home-title .title-text {
        width: 440px;
        margin: 80px 0 0 20px;
    }

    .title-text h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .title-text p {
        font-size: 24px;
        line-height: 24px;
    }

    .main-content {
        padding: 48px 104px 120px;
        position: relative;
    }

    .main-content .search-bar {
        width: 100%;
        padding: 32px 24px;
        box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
        border-radius: 16px;
        gap: 16px;
        position: relative;
        top: -133px;
    }

    .main-content .search-bar h1 {
        font-size: 28px;
        line-height: 24px;
        margin-bottom: 32px;
    }

    .search-bar .input-input {
        display: flex;
        flex-direction: column;
        
    }

    .main-content .search-bar .input-field {
        position: relative;
        margin-bottom: 20px;
        width: 100%;
    }

    .main-content .search-bar .input-field:not(:first-child) {
        width: 100%;
    }

    .search-bar .input-field .input-box {
        padding: 8px 16px 8px 48px;
        font-size: 16px;
        height: 56px;
        border: 2px solid #79747E;
        border-radius: 4px;
        outline: none;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
    }

    .search-bar .input-field .input-icon {
        font-size: 16px;
        color: var(--black-color);
        position: absolute;
        top: 0;
        left: 24px;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .input-label {
        font-size: 16px;
        position: absolute;
        top: -8px;
        left: 10px;
        background-color: var(--white-color);
        display: block;
        padding: 0 3px;
    }


    .search-bar .input-field .input-box:focus {
        border-color: var(--primary-color);
    }

    .main-content .search-bar .input-field input[type="date"] {
        padding-left: 16px;
        padding-right: 8px;
    }

    .main-content .search-bar .input-field input[type="date"]::-webkit-calendar-picker-indicator {
        font-size: 18px;
    }

    .main-content .search-bar .search-btn {
        display: flex;
        justify-content: flex-end;
    }

    .main-content .search-bar .search-btn .btn-icon {
        margin-top: 20px;
        width: auto;
        height: 48px;
        align-items: center;
        padding: 14.5px 16px 0 37px;
    }

    .search-btn .input-icon {
        font-size: 16px;
        color: var(--black-color);
        position: absolute;
        top: 0;
        left: 24px;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .search-btn .btn-icon p {
        font-size: 14px;
        line-height: 17px;
    }

    .recent-searches h1 {
        text-align: center;
        font-size: 50px;
    }

    .recent-searches .list-city {
        gap: 91.67px;
        margin-top: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .recent-searches .list-city .city-group {
        display: flex;
        align-items: center;
        height: 90px;
        width: 37%;
    }

    .city-group .city-name {
        margin-left: 40px;
        text-align: center;
    }

    .city-name h1 {
        font-size: 20px;
        line-height: 20px;
    }

    .city-name p {
        font-size: 15px;
        line-height: 15px;
        opacity: 0.75;
    }

    .main-content .famous-place {
        padding-top: 90px;
    }

    .famous-place .h-famous-place {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .h-famous-place .hfp-title {
        width: 100%;
    }

    .hfp-title h1 {
        font-size: 50px;
        line-height: 40px;
        text-align: center;
    }

    .hfp-title p {
        font-size: 20px;
        line-height: 20px;
    }

    .h-famous-place .see-all-btn {
        border-radius: 4px;
        text-align: center;
    }

    .h-famous-place .see-all-btn .btn-icon {
        width: 80px;
        height: 40px;
        position: relative;
        border: 1px solid #8DD3BB;
        border-radius: 4px;
        
    }

    .see-all-btn p {
        
        font-size: 14px;
        line-height: 17px;
    }

    .famous-place .f-famous-place {
        margin-top: 32px;
    }

    .famous-place .f-famous-place .ffp-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .f-famous-place .card-beta {
        width: 100%;
        max-width: 500px;
        height: 682px;
        display: flex;
        position: relative;
    }
    
    .f-famous-place .card-beta .card-img {
        position: absolute;
        width: 100%;
        z-index: 0;
        height: 100%;
    }

    .ffp-card .card-text {
        margin-top: 540px;
        width: 100%;
        z-index: 1;
        padding: 0 24px;
    }
    
    .ffp-card .card-text .card-content {
        display: flex;
        justify-content: space-between;
        gap: 22px;
        align-items: center;
    }


    .ffp-card .card-text h1 {
        font-size: 40px;
        line-height: 29px;
    }

    .ffp-card .card-text p {
        font-size: 18px;
        line-height: 17px;
    }

    .ffp-card .booking-btn {
        background-color: #8DD3BB;
        display: flex;
        text-align: center;
        border-radius: 4px;
        width: 100%;
        height: 48px;
        margin-top: 15.5px;
        justify-content: center;
    }

    .ffp-card .booking-btn p {
        font-size: 18px;
        line-height: 17px;
        margin-top: 15.5px;
    }

    .fall-into-travel {
        padding-top: 60px;
    }

    .fall-into-travel .h-fall-into-travel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fall-into-travel .h-fall-into-travel .hfit-title {
        height: 92px;
        margin-bottom: 30px;
        max-width: 738px;
    }

    .hfit-title h1 {
        font-size: 50px;
        line-height: 40px;
        text-align: center;
    }

    .hfit-title p {
        font-size: 20px;
        line-height: 20px;
    }

    .h-fall-into-travel .see-all-btn {
        border-radius: 4px;
        text-align: center;
        position: relative;
    }

    .h-fall-into-travel .see-all-btn .btn-icon {
        width: 80px;
        height: 40px;
        position: relative;
        border: 1px solid #8DD3BB;
        border-radius: 4px;
        padding: 11.5px 0;
    }

    .fall-into-travel .f-fall-into-travel {
        display: flex;
        flex-wrap: wrap;
    }

    .f-fall-into-travel .backpacking {
        width: 100%;
        height: 424px;
        background-color: #8DD3BB;
        border-radius: 20px;
        padding: 24px 24px;
        margin-top: 20px;
        position: relative;
    }

    .backpacking .backpacking-title {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .backpacking-title h1 {
        font-size: 40px;
        line-height: 51px;
    }

    .backpacking-title .backpacking-cost {
        background-color: #FFFFFF;
        width: 68px;
        height: 62px;
        border-radius: 8px;
        text-align: center;
        padding: 8px
    }

    .backpacking-cost h1 {
        font-size: 20px;
        line-height: 24px;
    }

    .backpacking-cost p {
        font-family: 'TradeGothic LT Extended';
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }

    .backpacking .describe {
        margin-top: 24px;
        font-size: 17px;
        line-height: 17px;
    }

    .backpacking .backpacking-btn {
        width: 90%;
        background: #FFFFFF;
        bottom: 21px;
        border-radius: 4px;
        text-align: center;
        position: absolute;
    }

    .backpacking-btn .backpacking-btn-icon {
        display: block;
        width: 100%;
        height: 48px;
        padding: 15.5px 204.5px;
        border-radius: 4px;
        border: 1px solid #8DD3BB;
        padding: 11.5px 0;
    }

    .backpacking-btn .btn-icon p {
        font-size: 14px;
        line-height: 17px;
    }

    .f-fall-into-travel .backpacking-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .backpacking-card img {
        width: 100%;
        margin-top: 30px;
    }

    .form__group {
        position: relative;
        padding: 15px 0 0;
        margin-top: 10px;
    }

    .form__field {
        font-family: inherit;
        width: 100%;
        /* border: 0; */
        border-bottom: 1px solid #d2d2d2;
        outline: 0;
        font-size: 16px;
        color: #212121;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
    }

    .form__field::placeholder {
        color: transparent;
    }

    .form__label {
        position: absolute;
        top: 7px;
        display: block;
        transition: 0.2s;
        font-size: 12px;
        z-index: 1000;
        background-color: white;
        left: 15px;
    }
}