@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --dark-green: #112211;
    --black-color: #000000;
    --primary-color: #8DD3BB;
    --light-green: #CDEAE1;
    --white-color: #ffffff;
    --dark-color: #1C1B1F;
    --light-color: #FAFBFC;
    --slamon-color: #FF8682;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.text-white {
    color: var(--white-color) !important;
}

.text-dark-green {
    color: var(--dark-green) !important;
}

.text-black {
    color: var(--black-color) !important;
}

.text-dark {
    color: var(--dark-color);
}

.text-slamon {
    color: var(--slamon-color);
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-400 {
    font-weight: 400;
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-dark {
    background-color: var(--dark-green);
}

.bg-white {
    background-color: var(--white-color);
}

.bg-light-green {
    background-color: var(--light-green);
}

.bg-main {
    background-color: var(--light-color);
}

.btn {
    padding: 16px 16px;
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
}

.btn-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    position: relative;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}

.btn-icon>i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-icon:hover,
.btn:hover {
    opacity: 0.6;
    cursor: pointer;
}

/* css for left-wrapper */
.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    padding: 104px;
    gap: 105px;
}

.left-wrapper {
    width: 45%;
    border-radius: 30px;
    overflow: hidden;
    max-height: 656px;
}

.right-wrapper {
    width: 35%;
}

.decline-row .email-in-form span {
    font-size: 14px;
    color: #E74A3B;
}

.decline-row .phone-in-form span {
    font-size: 14px;
    color: #E74A3B;
}

.pass-in-form span {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
}

.rePass-in-form span {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
}

.errorPass {
    color: #E74A3B;
}

.warningPass {
    color: #F6C23E;
}


.valid-label {
    color: var(--primary-color);
}

.warning-label {
    color: #F6C23E;
}

.error-label {
    color: #E74A3B;
}

.error-input {
    border: 2px solid #E74A3B;
    border-radius: 4px;
    outline-color: #E74A3B;
    padding: 18px 16px;
    font-size: 16px;
    line-height: 20px;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.warning-input {
    border: 2px solid #F6C23E;
    border-radius: 4px;
    outline-color: #F6C23E;
    padding: 18px 16px;
    font-size: 16px;
    line-height: 20px;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.valid-input {
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    outline-color: var(--primary-color);
    padding: 18px 16px;
    font-size: 16px;
    line-height: 20px;
    transition: all 0.3s ease-in-out;
    width: 100%;
}


.owl-register .item img {
    width: 100%;
    height: 100vh;
}

.owl-theme .owl-dots .owl-dot.active span {
    width: 32px;
    background: var(--primary-color) !important;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    bottom: 72px;
    left: 50%;
    transform: translateX(-50%);
}

/* css for right-wrapper */
.right-wrapper .logo {
    width: 110.35px;
    height: 36px;
}

.right-wrapper h1 {
    font-size: 30px;
    line-height: 20px;
    margin-top: 40px;
    margin-bottom: 13px;
}

.right-wrapper p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 25px;
}

.right-wrapper .decline-row {
    display: flex;
    gap: 12px;
    width: 100%;
}

.right-wrapper .form-register {
    margin-top: 10px;
    margin-bottom: 5px;
    position: relative;
    width: 100%;
}

.right-wrapper .form-register .input-box {
    border: 1px solid #79747E;
    border-radius: 4px;
    outline-color: var(--primary-color);
    padding: 15px 48px 15px 16px;
    font-size: 16px;
    line-height: 20px;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.right-wrapper .form-register label {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: #ffffff;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.right-wrapper .error-input:focus+label,
.right-wrapper .error-input:valid+label,
.right-wrapper .warning-input:focus+label,
.right-wrapper .warning-input:valid+label,
.right-wrapper .valid-input:valid+label,
.right-wrapper .input-box:focus+label,
.right-wrapper .input-box:valid+label {
    top: 0px;
    font-size: 14px;
    line-height: 17px;
}

.eye {
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
    cursor: pointer;
}

.right-wrapper .extra {
    margin-top: 8px;
}

.right-wrapper .extra span {
    font-size: 14px;
    line-height: 17px;
}

.right-wrapper .btn-register {
    width: 100%;
    border: 1px solid #79747E;
    margin-top: 23px;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border: none;
}

.right-wrapper .login {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 15px;
}

.line {
    position: relative;
    height: 1px;
    width: 100%;
    background-color: var(--dark-green);
    opacity: 0.25;
    margin-bottom: 15px;
}

.line::before {
    content: 'Or Sign up with';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: var(--dark-green);
    padding: 0 15px;
}

.media-options a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    width: 100%;
    padding: 13px 8px;
    border-radius: 6px;
    text-decoration: none;
    position: relative;
    margin-bottom: 10px;
}

img.google-img {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

img.google-img {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

a.google span {
    font-weight: 600;
    opacity: 0.7;
    color: #232836;
}

a.google:hover {
    background-color: #eeeeee;
}

@media only screen and (max-width: 1100px) {
    .right-wrapper h1 {
        font-size: 30px;
        line-height: 20px;
        margin-top: 32px;
        margin-bottom: 14px;
    }

    .right-wrapper p {
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 19px;
    }

    .right-wrapper .decline-row {
        display: flex;
        gap: 18px;
        width: 100%;
    }

    .right-wrapper .form-register label {
        left: 13px;
        font-size: 12px;
    }


    .right-wrapper .extra span {
        font-size: 11px;
    }

    .btn {
        padding: 12px 16px;
    }

    .right-wrapper .btn-register {
        margin-top: 22px;
        margin-bottom: 15px;
        border: none;

    }

    .right-wrapper .login {
        text-align: center;
        font-size: 12px;
        line-height: 17px;
        margin-bottom: 10px;
    }

    .line::before {
        font-size: 12px;
        padding: 0 12px;
    }

    .owl-register .item img {
        height: 578px;
    }

    .owl-theme .owl-nav.disabled+.owl-dots {
        bottom: 12px;
    }

}

@media only screen and (max-width: 900px) {
    .main-wrapper {
        padding: 50px;
        gap: 95px;
        justify-content: normal;
    }

    .left-wrapper {
        width: 38%;
    }

    .right-wrapper {
        width: 50%;
    }


}

@media only screen and (max-width: 739px) {
    .main-wrapper {
        gap: 0;
        padding: 0 110px;
    }

    .left-wrapper {
        width: 0;
    }

    .right-wrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .main-wrapper {
        gap: 0;
        padding: 0px 32px;
    }
}